
# <center>Soil-based Plant Recommendations</center>

#### Tentang Notebook
Dalam notebook ini, dilakukan data processing dengan mengidentifikasi anomali dari data (null value, outlier, dll). Kemudian akan dihasilkan statistik dan visualiasi untuk tahap EDA.

### Import packages

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sb
%matplotlib inline

## Read Data

In [3]:
df1 = pd.read_csv("../data-raw/Crop_recommendation.csv")

df1.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [7]:
df2 = pd.read_csv("../data-raw/crops.csv")

df2.head()

,Crop,ScientificName,Symbol,NuContAvailable,PlantPartHarvested,CropCategory,YieldUnit,AvYieldUnitWeight(lb),AvMoisture%,AvN%(dry),...,N%(wet)_M-FF,P%(wet)_M-FF,gP/100g(wet)_AgH8-9,gP/100g(wet)_AgH8-12,gP/100g(wet)_B788,P%(wet)_M&L,K%(wet)_M-FF,gK/100g(wet)_AgH8-9,gK/100g(wet)_AgH8-12,gK/100g(wet)_B788
0,Acorn,Quercus sp.,QUERC,"N,P,K",Fruit,Tree and fruit,lb of fruit,1.0,27.90,1.3647711512,...,NaN,NaN,NaN,0.079,NaN,NaN,NaN,NaN,0.539,NaN
1,"Alfalfa + Orchardgrass, for hay","Medicago sativa, Dactylis glomerata","MESA, DAGL","N,P",Aboveground biomass,Forage,ton,2000.0,9.70,2.4797142857,...,1.92,0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Alfalfa + Orchardgrass, for hay (cut 1)","Medicago sativa, Dactylis glomerata","MESA, DAGL","N,P,K",Aboveground biomass,Forage,ton,2000.0,7.95,2.144,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Alfalfa + Smooth Brome, for green chop","Medicago sativa, Bromus inermis","MESA, BRIN2","N,P,K",Aboveground biomass,Forage,ton,2000.0,77.63,3.3220740741,...,0.77,0.07,NaN,NaN,NaN,NaN,0.63,NaN,NaN,NaN
4,"Alfalfa + Smooth Brome, for hay","Medicago sativa, Bromus inermis","MESA, BRIN2","N,P,K",Aboveground biomass,Forage,ton,2000.0,11.58,2.4177085202,...,1.89,0.20,NaN,NaN,NaN,NaN,1.66,NaN,NaN,NaN

## Data Insights

In [14]:
df1.shape

(2200, 8)

In [13]:
df2.shape

(737, 161)

In [15]:
df1.columns.values

array(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall',
       'label'], dtype=object)

In [16]:
df2.columns.values

array(['Crop', 'ScientificName', 'Symbol', 'NuContAvailable',
       'PlantPartHarvested', 'CropCategory', 'YieldUnit',
       'AvYieldUnitWeight(lb)', 'AvMoisture%', 'AvN%(dry)', 'AvP%(dry)',
       'AvK%(dry)', 'YieldUnitWeight(lb)_set', 'YieldUnitWeight(lb)_Bau',
       'YieldUnitWeight(lb)_Joh', 'YieldUnitWeight(lb)_Roberts',
       'YieldUnitWeight(lb)_WEEP', 'YieldUnitWeight(lb)_Men',
       'YieldUnitWeight(lb)_Guy', 'YieldUnitWeight(lb)_Mc',
       'YieldUnitWeight(lb)_Mah', 'YieldUnitWeight(lb)_Sha',
       'YieldUnitWeight(lb)_Sch', 'YieldUnitWeight(lb)_Atu',
       'YieldUnitWeight(lb)_Zim', 'YieldUnitWeight(lb)_Scu',
       'YieldUnitWeight(lb)_John', 'YieldUnitWeight(lb)_Arc',
       'DryMatter%_M-FF', 'DryMatter%_NAS', 'DryMatter%_F&L',
       'DryMatter%_F&N', 'DryMatter%_Alb', 'DryMatter%_Est1',
       'DryMatter%_Est2', 'DryMatter%_Est3', 'DryMatter%_Est4',
       'DryMatter%_Est5', 'DryMatter%_Est6', 'DryMatter%_M&R',
       'DryMatter%_M&L', 'DryMatter%_Sun', 'DryMatter%_Gro',
       'DryMatter%_AgH8-9', 'DryMatter%_AgH8-12', 'DryMatter%_B788',
       'AvDryMatter%', 'N%(dry)_NAS', 'N%(dry)_F&L', 'N%(dry)_F&N',
       'N%(dry)_Swa', 'N%(dry)_Chapko', 'N%(dry)_Hill', 'N%(dry)_Bru',
       'N%(dry)_AgH8-9', 'N%(dry)_AgH8-12', 'N%(dry)_B788', 'N%(dry)_M&L',
       'N%(dry)_M-FF', 'N%(dry)_M&R', 'N%(dry)_Foster', 'N%(dry)_Rob1',
       'N%(dry)_Rob2', 'N%(dry)_Coa', 'N%(dry)_And', 'N%(dry)_Gol1',
       'N%(dry)_Gol2', 'N%(dry)_Wol', 'N%(dry)_Pete', 'N%(dry)_Col',
       'N%(dry)_Alb', 'N%(dry)_Arc', 'N%(dry)_Bis', 'N%(dry)_Gar',
       'N%(dry)_Heg', 'N%(dry)_Flo', 'N%(dry)_Feil', 'N%(dry)_Bre',
       'N%(dry)_Burns', 'N%(dry)_Coc', 'P%(dry)_M-FF', 'P%(dry)_NAS',
       'P%(dry)_F&L', 'P%(dry)_F&N', 'P%(dry)_AgH8-9', 'P%(dry)_AgH8-12',
       'P%(dry)_B788', 'P%(dry)_M&L', 'P%(dry)_L&V', 'P%(dry)_Foster',
       'P%(dry)_Rob1', 'P%(dry)_Rob2', 'P%(dry)_Coa', 'P%(dry)_And',
       'P%(dry)_Gol1', 'P%(dry)_Gol2', 'P%(dry)_Sims', 'P%(dry)_Wol',
       'P%(dry)_Pete', 'P%(dry)_Col', 'P%(dry)_Alb', 'P%(dry)_Arc',
       'P%(dry)_Swa', 'P%(dry)_Rei', 'K%(dry)_M-FF', 'K%(dry)_NAS',
       'K%(dry)_F&L', 'K%(dry)_F&N', 'K%(dry)_AgH8-9', 'K%(dry)_AgH8-12',
       'K%(dry)_B788', 'K%(dry)_Foster', 'K%(dry)_Rob1', 'K%(dry)_Rob2',
       'K%(dry)_Coa', 'K%(dry)_And', 'K%(dry)_Gol1', 'K%(dry)_Gol2',
       'K%(dry)_Sims', 'K%(dry)_Wol', 'K%(dry)_Pete', 'K%(dry)_Col',
       'K%(dry)_Alb', 'K%(dry)_Arc', 'K%(dry)_Swa', 'K%(dry)_Rei',
       'Moisture%_M&R', 'Moisture%_M&L', 'Moisture%_Sun', 'Moisture%_Gro',
       'gWater/100g_AgH8-9', 'gWater/100g_AgH8-12', 'gWater/100g_B788',
       'Protein%(dry)_NAS', 'Protein%(dry)_F&L', 'Protein%(dry)_F&N',
       'Protein%(dry)_Swa', 'Protein%(dry)_Chapko', 'Protein%(dry)_Hill',
       'Protein%(dry)_Bru', 'Protein%(dry)_Bis', 'Protein%(dry)_Gar',
       'Protein%(dry)_Heg', 'Protein%(dry)_Flo', 'Protein%(dry)_Feil',
       'Protein%(dry)_Bre', 'Protein%(dry)_Burns',
       'gProtein/100g(wet)_AgH8-9', 'gProtein/100g(wet)_AgH8-12',
       'gProtein/100g(wet)_B788', 'Protein%(wet)_M&L', 'N%(wet)_M-FF',
       'P%(wet)_M-FF', 'gP/100g(wet)_AgH8-9', 'gP/100g(wet)_AgH8-12',
       'gP/100g(wet)_B788', 'P%(wet)_M&L', 'K%(wet)_M-FF',
       'gK/100g(wet)_AgH8-9', 'gK/100g(wet)_AgH8-12', 'gK/100g(wet)_B788'],
      dtype=object)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [27]:
df2.info()
df2.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737 entries, 0 to 736
Columns: 161 entries, Crop to gK/100g(wet)_B788
dtypes: float64(150), object(11)
memory usage: 927.1+ KB

Crop                     object
ScientificName           object
Symbol                   object
NuContAvailable          object
PlantPartHarvested       object
                         ...
P%(wet)_M&L             float64
K%(wet)_M-FF            float64
gK/100g(wet)_AgH8-9     float64
gK/100g(wet)_AgH8-12    float64
gK/100g(wet)_B788       float64
Length: 161, dtype: object

In [23]:
df1.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [26]:
df2.describe()

,AvYieldUnitWeight(lb),AvMoisture%,YieldUnitWeight(lb)_Bau,YieldUnitWeight(lb)_Joh,YieldUnitWeight(lb)_Roberts,YieldUnitWeight(lb)_WEEP,YieldUnitWeight(lb)_Men,YieldUnitWeight(lb)_Guy,YieldUnitWeight(lb)_Mc,YieldUnitWeight(lb)_Mah,...,N%(wet)_M-FF,P%(wet)_M-FF,gP/100g(wet)_AgH8-9,gP/100g(wet)_AgH8-12,gP/100g(wet)_B788,P%(wet)_M&L,K%(wet)_M-FF,gK/100g(wet)_AgH8-9,gK/100g(wet)_AgH8-12,gK/100g(wet)_B788
count,737.000000,737.000000,16.000000,1.0,1.0,13.000000,1.00,1.000,1.000,1.00,...,200.000000,163.000000,85.000000,17.000000,81.000000,32.000000,138.000000,83.000000,17.000000,75.000000
mean,1242.542921,45.596947,75.850000,239.0,100.0,71.548462,1.35,0.961,0.215,1.55,...,1.410650,0.175951,0.023247,0.270706,0.048895,0.184375,1.032319,0.232976,0.498529,0.278293
std,963.069061,34.628968,26.405202,NaN,NaN,59.622543,NaN,NaN,NaN,NaN,...,1.151426,0.138455,0.022763,0.182547,0.034026,0.139352,0.650954,0.128660,0.188641,0.123068
min,0.588000,2.650000,44.800000,239.0,100.0,1.000000,1.35,0.961,0.215,1.55,...,0.140000,0.020000,0.005000,0.072000,0.007000,0.040000,0.210000,0.038000,0.263000,0.100000
25%,1.000000,10.580000,56.000000,239.0,100.0,44.200000,1.35,0.961,0.215,1.55,...,0.610000,0.070000,0.011000,0.100000,0.028000,0.070000,0.490000,0.151000,0.392000,0.195000
50%,2000.000000,54.900000,75.000000,239.0,100.0,56.000000,1.35,0.961,0.215,1.55,...,0.980000,0.130000,0.017000,0.291000,0.040000,0.130000,0.980000,0.196000,0.447000,0.260000
75%,2000.000000,78.900000,84.000000,239.0,100.0,82.950000,1.35,0.961,0.215,1.55,...,1.970000,0.240000,0.027000,0.446000,0.059000,0.252500,1.487500,0.279000,0.524000,0.330000
max,2000.000000,96.000000,150.000000,239.0,100.0,233.000000,1.35,0.961,0.215,1.55,...,6.060000,0.700000,0.170000,0.600000,0.195000,0.670000,3.360000,0.653000,1.093000,0.710000